튜플

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6, (7, 8))

In [4]:
nested_tup

(4, 5, 6, (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

튜플에서 값 분리하기

In [15]:
tup = (4, 5, 6)

In [16]:
a, b, c = tup

In [17]:
b

5

In [18]:
tup = 4, 5, (6, 7)

In [19]:
a, b, (c, d) = tup

In [20]:
d

7

In [21]:
a, b = 1, 2

In [22]:
a

1

In [23]:
b

2

In [24]:
b, a = a, b

In [25]:
a

2

In [26]:
b

1

In [27]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [28]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [29]:
values = 1, 2, 3, 4, 5

In [30]:
a, b, *rest = values

In [31]:
a, b

(1, 2)

In [32]:
rest

[3, 4, 5]

In [33]:
a, b, *_ = values

튜플 메서드

In [34]:
a = (1, 2, 2, 2, 3, 4, 2)

In [35]:
a.count(2)

4

리스트

In [36]:
a_list = [2, 3, 7, None]

In [37]:
tup = ('foo', 'bar', 'baz')

In [38]:
b_list = list(tup)

In [39]:
b_list

['foo', 'bar', 'baz']

In [40]:
b_list[1] = 'peekaboo'

In [41]:
b_list

['foo', 'peekaboo', 'baz']

In [42]:
gen = range(10)

In [43]:
gen

range(0, 10)

In [44]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

원소 추가하고 삭제하기

In [45]:
b_list.append('dwarf')

In [46]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [47]:
b_list.insert(1, 'red')

In [48]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [49]:
b_list.pop(2)

'peekaboo'

In [50]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [51]:
b_list.append('foo')

In [52]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [53]:
b_list.remove('foo')

In [54]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [55]:
'dwarf' in b_list

True

In [56]:
'dwarf' not in b_list

False

리스트 이어붙이기

In [57]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [58]:
x = [4, None, 'foo']

In [59]:
x.extend([7, 8, (2, 3)])

In [60]:
x

[4, None, 'foo', 7, 8, (2, 3)]

정렬

In [61]:
a = [7, 2, 5, 1, 3]

In [62]:
a.sort()

In [63]:
a

[1, 2, 3, 5, 7]

In [64]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [65]:
b.sort(key=len)

In [66]:
b

['He', 'saw', 'six', 'small', 'foxes']

이진 탐색과 정렬된 리스트 유지하기

In [67]:
import bisect

In [68]:
c = [1, 2, 2, 2, 3, 4, 7]

In [69]:
bisect.bisect(c, 2)

4

In [70]:
bisect.bisect(c, 5)

6

In [71]:
bisect.insort(c, 6)

In [72]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

슬라이싱

In [73]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [74]:
seq[1:5]

[2, 3, 7, 5]

In [75]:
seq[3:4] = [6, 3]

In [76]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [77]:
seq[:5]

[7, 2, 3, 6, 3]

In [78]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [79]:
seq[-4:]

[5, 6, 0, 1]

In [80]:
seq[-6:-2]

[6, 3, 5, 6]

In [81]:
seq[::2]

[7, 3, 3, 6, 1]

In [82]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

enumerate

In [83]:
some_list = ['foo', 'bar', 'baz']

In [84]:
mapping = {}

In [85]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [86]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

sorted

In [87]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [88]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

zip

In [89]:
seq1 = ['foo', 'bar', 'baz']

In [90]:
seq2 = ['one', 'two', 'three']

In [91]:
zipped = zip(seq1, seq2)

In [92]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [93]:
seq3 = [False, True]

In [94]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [95]:
for i,(a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [96]:
pitchers = [('Nola', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [97]:
first_names, last_names = zip(*pitchers)

In [98]:
first_names

('Nola', 'Roger', 'Schilling')

In [99]:
last_names

('Ryan', 'Clemens', 'Curt')

reversed

In [100]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

사전

In [101]:
empty_dict = {}

In [102]:
d1 = {'a' : 'some value', 'b' : [1,2, 3, 4]}

In [103]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [104]:
d1[7] = 'an integer'

In [105]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [106]:
d1['b']

[1, 2, 3, 4]

In [107]:
'b' in d1

True

In [108]:
d1[5] = 'some value'

In [109]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [110]:
d1['dummy'] = 'another value'

In [111]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [112]:
del d1[5]

In [113]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [114]:
ret = d1.pop('dummy')

In [115]:
ret

'another value'

In [116]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [117]:
list(d1.keys())

['a', 'b', 7]

In [118]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [119]:
d1.update({'b' : 'foo', 'c' : 12})

In [120]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

순차 자료형에서 사전 생성하기

In [121]:
mapping = dict(zip(range(5), reversed(range(5))))

In [122]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

기본값

In [123]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [124]:
by_letter = {}

In [125]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [126]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

유효한 사전 키

In [127]:
hash('string')

-1816625627001490179

In [128]:
hash((1, 2, (2, 3)))

1097636502276347782

In [129]:
hash((1, 2, [2, 3])) # 리스트는 변경이 가능한 값이므로 해시 가능하지 않음

TypeError: unhashable type: 'list'

In [130]:
d = {}

In [131]:
d[tuple([1, 2, 3])] = 5

In [132]:
d

{(1, 2, 3): 5}

집합

In [133]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [134]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [135]:
a = {1, 2, 3, 4, 5}

In [136]:
b = {3, 4, 5,6, 7, 8}

In [137]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [138]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [139]:
a.intersection(b)

{3, 4, 5}

In [140]:
a & b

{3, 4, 5}

In [141]:
c = a.copy()

In [142]:
c |= b

In [143]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [144]:
d = a.copy()

In [145]:
d &= b

In [146]:
d

{3, 4, 5}

In [147]:
my_data = [1, 2, 3, 4]

In [148]:
my_set = {tuple(my_data)}

In [149]:
my_set

{(1, 2, 3, 4)}

In [150]:
a_set = {1, 2, 3, 4, 5}

In [151]:
{1, 2, 3}.issubset(a_set)

True

In [152]:
{1, 2, 3}.issuperset({1, 2, 3})

True

In [153]:
{1, 2, 3} == {3, 2, 1}

True

리스트, 집합, 사전 표기법  
[*expr* for val in collection if *condition*]

In [154]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [155]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [156]:
unique_lengths = {len(x) for x in strings}

In [157]:
unique_lengths

{1, 2, 3, 4, 6}

In [158]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [159]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [160]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

중첩된 리스트 표기법

In [161]:
all_data = [['John', 'Emily', 'Michae', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [162]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]

In [163]:
result

['Steven']

In [164]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [165]:
flattened = [x for tup in some_tuples for x in tup]

In [166]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

함수

네임스페이스, 스코프, 지역 함수

In [168]:
a = None

In [169]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [170]:
print(a)

[]

함수도 객체다

In [171]:
states = ['Alabama ', 'Georgia!', 'Georgia', 'georgia', 'Fl0rIda',
          'sourthcarolina##', 'West virginia?']

In [172]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [173]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'Sourthcarolina',
 'West Virginia']

In [174]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [175]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'Sourthcarolina',
 'West Virginia']

In [176]:
for x in map(remove_punctuation, states):
    print(x)

Alabama
Georgia
Georgia
georgia
Fl0rIda
sourthcarolina
West virginia

익명 함수 (Lambda Functions)

In [177]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [178]:
strings.sort(key=lambda x: len(set(list(x))))

In [179]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

제너레이터

In [180]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [181]:
for key in some_dict:
    print(key)

a
b
c

In [182]:
dict_iterator = iter(some_dict)

In [183]:
dict_iterator

In [184]:
list(dict_iterator)

['a', 'b', 'c']

In [185]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [186]:
gen = squares()

In [187]:
gen

In [188]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [189]:
gen = (x ** 2 for x in range(100))

In [190]:
gen

In [191]:
sum(x ** 2 for x in range(100))

328350

In [192]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

itertools 모듈

In [193]:
import itertools

In [194]:
first_letter = lambda x: x[0]

In [195]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [196]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))  # names는 제너레이터이다

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

에러와 예외처리

In [197]:
float('1.2345')

1.2345

In [198]:
float('something')

ValueError: could not convert string to float: 'something'

In [199]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [200]:
attempt_float('1.2345')

1.2345

In [201]:
attempt_float('something')

'something'

In [202]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [203]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [204]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

파일과 운영체제

In [205]:
path = 'examples/진달래꽃.txt'

In [206]:
f = open(path, encoding='utf8')

In [207]:
lines = [x.rstrip() for x in f]

In [208]:
lines

['나 보기가 역겨워',
 '가실 때에는',
 '말없이 고이 보내 드리오리다.',
 '',
 '영변에 약산',
 '진달래꽃',
 '아름 따다 가실 길에 뿌리오리다.',
 '',
 '가시는 걸음 걸음',
 '놓인 그 꽃을',
 '사뿐히 즈려 밟고 가시옵소서',
 '',
 '나 보기가 역겨워',
 '가실 때에는',
 '죽어도 아니 눈물 흘리오리다.']

In [209]:
f.close()

In [210]:
with open(path, encoding='utf8') as f:
    lines = [x.rstrip() for x in f]

In [211]:
f = open(path, encoding='utf8')
f.read(10)

'나 보기가 역겨워\n'

In [212]:
f.tell()  # tell()메서드는 byte수를 기준으로 현재의 위치를 알려준다.

25

In [213]:
f2 = open(path, 'rb')  # 이진 읽기 모드로 파일 오픈 
f2.read(25)

b'\xeb\x82\x98 \xeb\xb3\xb4\xea\xb8\xb0\xea\xb0\x80 \xec\x97\xad\xea\xb2\xa8\xec\x9b\x8c\r\n'

In [214]:
f2.tell()

25

In [215]:
with open('tmp.txt', 'w', encoding='utf8') as handle:
    handle.writelines(x for x in open(path, encoding='utf8') if len(x) > 1)

In [216]:
with open('tmp.txt', encoding='utf8') as f:
    lines = f.readlines()

In [217]:
lines

['나 보기가 역겨워\n',
 '가실 때에는\n',
 '말없이 고이 보내 드리오리다.\n',
 '영변에 약산\n',
 '진달래꽃\n',
 '아름 따다 가실 길에 뿌리오리다.\n',
 '가시는 걸음 걸음\n',
 '놓인 그 꽃을\n',
 '사뿐히 즈려 밟고 가시옵소서\n',
 '나 보기가 역겨워\n',
 '가실 때에는\n',
 '죽어도 아니 눈물 흘리오리다.']